<% @title = "O programski opremi" %>

<%= render :partial => 'sidebar' %>
<div id="left_column_flip" class="left_column_flip">
  <% if params[:country_name] %>
    <h1><%= _("Would you like to see a website like this in your country?") %></h1>
  <% else %>
    <h1>Poganja Alaveteli</h1>
  <% end %>
  <p>To spletno stran poganja Alaveteli. Alaveteli je brezplačna programska oprema, ki omogoča oddajanje zahtev za informacije javnega značaja. Zlahka se prilagaja različnim jezikom in različnim verzijam Zakona o dostopu do informacij javnega značaja. </p>

  <p>Razvoj platforme Alaveteli podpira vrsta fundacij in dobrodelnih organizacij, ki se zavzemajo za transparentnost po vsem svetu.</p>

  <p>Če bi radi platformo Alaveteli vzpostavili tudi v svoji državi, vam lahko pri tem pomagamo. Potrebovali boste zgolj nekaj dni, da bo stran oblikovana in pripravljena za uporabo, zatem pa boste morali približno uro na teden posvetiti moderiranju in upravljanju strani.</p>

  <p>Preberite več o tem na spletni strani <a href="http://alaveteli.org">Alaveteli</a>, ali pa <a href="mailto:hello@alaveteli.org">nam pošljite
      e-sporočilo</a>.</p>

  <div id="hash_link_padding"></div>
</div>